body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

h1 {
  color: #ff0066;
}

button {
  background: #ff0066;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #cc0052;
}

table {
  width: 100%;
  background: #1a1a1a;
  border-collapse: collapse;
}

th {
  background: #111;
}

td,
th {
  border: 1px solid #333;
}